<!DOCTYPE html>
<html class="no-js" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- this is only for responsive design to zoom 100%-->
    <meta name="description" content="Elounda Relax Apartments">
    <meta name="author" content="shaneGirish">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.2.0/css/bootstrap.css">
    <link rel="stylesheet" href="css/custom.css">

    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700' rel='stylesheet' type='text/css'>
    <script src="js/libs/modernizr-2.7.1.min.js"></script>
    <link rel="icon" type="image/png" href="favicon.png" />
    <title>Elounda Relax Apartments</title>

    <script type="text/template" id="photoBox">
      <div class="box popup-gallery <%= group %> <%= dimensionClass %>">
        <a href="<%= photo %>" title="" data-effect="mfp-zoom-in">
          <img src="<%= thumbnail %>" alt="">
          <div class="hover verticalize verticalize--full">
            <div class="verticalize__box ">
              <div class="icon-close_button">
                <svg role="img" fill="currentColor"></svg>
              </div>
            </div>
          </div>
        </a>
      </div>
    </script>
  </head>

  <body>
    <div id="preloader"></div>
    <div class="layout">
      <!-- BEGIN HEADER -->
      <header>
        <div class="container">          
          <a href="#subheader" class="logo left">
            <svg role="img" fill="currentColor" class="main-logo">
              <use xlink:href="icons/icons.svg#main-logo"></use>
            </svg>
            <svg role="img"  class="small-logo">
              <use xlink:href="icons/icons.svg#small-logo"></use>
            </svg>
          </a>
          
          <span class="icon-menu_320 hide bars">
            <svg role="img">
              <use xlink:href="icons/icons.svg#icon-menu_320"></use>
            </svg>
          </span>
          <span class="icon-menu_768 hide bars">
            <svg role="img">
              <use xlink:href="icons/icons.svg#icon-menu_768"></use>
            </svg>
          </span>
          <nav class="right ">
            <ul class="list-inline">
              <li>
                <a href="#about">ABOUT</a>
              </li><!--
              --><li>
                <a href="#gallery">GALLERY</a>
              </li><!--
              --><li>
                <a href="#booking">BOOKING</a>
              </li><!--
              --><li>
                <a href="#contact">CONTACT</a>
              </li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- BEGIN MAIN -->
      <div class="mobile-overlay"></div>
      <main id="page-content">
        <!-- BEGIN SUBHEADER -->      
        <section id="subheader" class="subheader-section verticalize verticalize--full">
          <div class="clearfix"></div>
          <div id="slider1" class="owl-carousel owl-theme">
            <div class="item"><img src="images/photos/_resized/1920x980/5 out.jpg" alt=""></div>
            <div class="item"><img src="images/photos/_resized/1920x980/30 out.JPG" alt=""></div>
            <div class="item"><img src="images/photos/_resized/1920x980/in 6.jpg" alt=""></div>
            <div class="item"><img src="images/photos/_resized/1920x980/3 out.jpg" alt=""></div>
          </div>
          <div class="container">          
            <div class="customNavigation">
              <a class="next">NEXT SLIDE
                <span>
                  <svg role="img" fill="currentColor">
                    <use xlink:href="icons/icons.svg#arrow-right-slide"></use>
                  </svg>
                </span>
              </a>
            </div>          
          </div>
        </section>
        <!-- END SUBHEADER -->

        <!-- BEGIN ABOUT -->
        <section id="about" class="about-section">
          <div class="container">
            <h3 class="dark-blue animated fadeInLeft" style="opacity: 0;"><strong>Elounda Relax Apartments</strong></h3>
            <p class="center animated fadeInRight" style="opacity: 0;">Elounda Relax Apartments is a small resort of 7 spacious apartments situated in Elounda, 200m from the sea in a serene location at the top of the town. All the apartments have a cosy living room with a dining table and a sofa (convertible to a bed), fully equipped kitchen, bedroom, spacious bathroom, and free WIFI. They also have access to a patio or balcony with fantastic views. The bedrooms are equipped with either a double bed or 2 single beds and come with air-conditioning, big wardrobes, and safes. There are also parking spaces in a nearby area.</p>
            
            <p class="center animated fadeInRight" style="opacity: 0;">The apartments offer a cozy vacation spot, perfect for a calm and peaceful getaway. There is a majestic view of Elounda bay and Spinalonga. The town square of Elounda is 200m from our location, and has a variety of amenities including supermarkets, taverns, and many shops. There are nearby beaches and interesting sea-side locations such as the picturesque Venetian saltpans. Plaka, the beautiful village 5km away has traditional taverns and wonderful pebble beaches. You can also take a boat ride to the Spinalonga island from Plaka or Elounda. Agios Nikolaos is 10 km away, and the airport of Heraklion is 70 km away.</p>
  </div>
        </section>
        <!-- END ABOUT -->

        <!-- BEGIN FILTER -->
        <section id="gallery" class="filter-section">
          <div class="container">
            <h3 class="dark-blue"><strong>GALLERY</strong></h3>
            
            <div class="filter_wrap">
              <a href="javascript:void(0)" class="select-cat btn1">SELECT CATEGORY</a>
              
              <!-- Begin of .filters  -->
              <ul id="filters" class="filters">
                <li>
                  <a class="gray-3 filter btn1" data-filter=".Apartments"><i>APARTMENTS</i>
                    <span>
                      <svg role="img" fill="currentColor">
                        <use xlink:href="icons/icons.svg#filter-bar"></use>
                      </svg>
                    </span>
                  </a>
                </li><!--
                --><li>
                  <a class="gray-3 filter btn1" data-filter=".Resort"><i>RESORT</i>
                    <span>
                      <svg role="img" fill="currentColor">
                        <use xlink:href="icons/icons.svg#filter-bar"></use>
                      </svg>
                    </span>
                  </a>
                </li><!--
                --><li>
                  <a class="gray-3 filter btn1" data-filter=".Town"><i>TOWN</i>
                    <span>
                      <svg role="img" fill="currentColor">
                        <use xlink:href="icons/icons.svg#filter-bar"></use>
                      </svg>
                    </span>
                  </a>
                </li><!--
                --><li>
                  <a class="gray-3 filter btn1" data-filter=".View"><i>VIEW</i>
                    <span>
                      <svg role="img" fill="currentColor">
                        <use xlink:href="icons/icons.svg#filter-bar"></use>
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
              <!-- End of #filter_wrap  -->
            </div>
            <!-- End of .category  -->
            <!-- Begin of #filter_content  -->
            <div id="filter_content" class="filter_content"></div>
            <!-- End of #filter_content  -->
          </div>        
        </section>
        <!-- END FILTER -->
          
        <!-- BEGIN PRICING -->
        <section id="booking" class="pricing-section">
          <div class="container">            
            <h3><strong>BOOKING</strong></h3>
            <p class="center"> Our apartments are all listed on Airbnb. Please follow the links below if you want to make a booking. </p>

          </div>
        </section>
        <!-- END PRICING -->

        <!-- BEGIN MAP -->
        <section id="contact" class="map">
          <div id="map"></div>
          <div id="infobox1">
            <p>Rira Tzoulaki</p>
            <p>Minoos 10</p>
            <p>Elounda, Crete</p>
            <p>riratzoulaki@gmail.com</p>
            <p>+30 6977 361921</p>
          </div>
          <div class="show-mob">
            <article class="left">
              <h2><strong>Contact</strong></h2>
              <h5>Show Location</h5>
            </article>
            <article class="left">
              <ul>
                <li>
                  <h6>NAME</h6>
                  <p>Rira Tzoulaki</p>
                  <p>Minoos 10</p>
                  <p>Elounda, Crete</p>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <h6>EMAIL</h6>
                  <a href="#">riratzoulaki@gmail.com</a>
                  <div class="clearfix"></div>
                </li>
                <li>
                  <h6>PHONE</h6>
                  <p>+30 6977 361921</p>
                </li>
              </ul>
            </article>
            <div class="clearfix"></div>
          </div>
        </section>
        <!-- END MAP -->
      </main>
      <!-- END MAIN -->
      
      <div class='layout_footer'></div>
    </div>

    <!-- BEGIN FOOTER -->
    <footer class='footer-main center'>
      <div class="container">
        <small><a href="/">Elounda Relax Apartments</a> © 2015. All rights reserved.</small>
      </div>
    </footer>
    <!-- END FOOTER -->
              
    <a id="top" href="#subheader">
      <span>
        <svg role="img" fill="currentColor">
          <use xlink:href="icons/icons.svg#back-top"></use>
        </svg>
      </span>
    </a>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.0/lodash.min.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/googlemaps/v3-utility-library/infobox/1.1.13/src/infobox_packed.js"></script>
    <script src="js/libs/jquery.autosize.js"></script>
    <script src="js/jquery.validate.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/jquery.smooth-scroll.min.js"></script>
    <script src="js/jquery.inview.min.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/masonry.pkgd.min.js"></script>
    <script src="js/jquery.mb.YTPlayer.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <!-- initial scripts -->
    <script src="js/init.js"></script>
  </body>
</html>
